[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NGLVieweR"]
	path = NGLVieweR
	url = https://github.com/nvelden/nglviewer
[submodule "geneviewer"]
	path = geneviewer
	url = https://github.com/nvelden/geneviewer
