[submodule ".registry"]
	path = .registry
	url = https://github.com/nvelden/nvelden.r-universe.dev
	branch = HEAD
[submodule "NGLVieweR"]
	path = NGLVieweR
	url = https://github.com/nvelden/NGLVieweR
[submodule "geneviewer"]
	path = geneviewer
	url = https://github.com/nvelden/geneviewer
[submodule "shinyblocks"]
	path = shinyblocks
	url = https://github.com/nvelden/shinyblocks
