[submodule ".registry"]
	path = .registry
	url = https://github.com/nvelden/nvelden.r-universe.dev
	branch = HEAD
[submodule "shinyblocks"]
	path = shinyblocks
	url = https://github.com/nvelden/shinyblocks
